<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_DeveloperToolbar>
            <version>3.0.0</version>
        </Mgt_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <mgt_developertoolbar>
                <class>Mgt_DeveloperToolbar_Block</class>
            </mgt_developertoolbar>
            <mgt_developertoolbar_item>
                <class>Mgt_DeveloperToolbar_Block_Toolbar_Item</class>
            </mgt_developertoolbar_item>
            <core>
                <rewrite>
                    <profiler>Mgt_DeveloperToolbar_Block_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <mgt_developertoolbar>
                <rewrite>
                    <data>Mgt_DeveloperToolbar_Helper_Data</data>
                </rewrite>
            </mgt_developertoolbar>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <resource>Mgt_DeveloperToolbar_Model_Resource</resource>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <mgt_developertoolbar>
                        <class>Mgt_DeveloperToolbar_Model_Observer</class>
                        <method>removeCoreProfilerBlock</method>
                    </mgt_developertoolbar>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_developertoolbar translate="title" module="mgt_developertoolbar">
                                            <title>mgt-commerce</title>
                                        </mgt_developertoolbar>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mgt_developertoolbar>
                    <file>mgt_developertoolbar.xml</file>
                </mgt_developertoolbar>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <mgt_developertoolbar>
                <use>standard</use>
                <args>
                    <module>Mgt_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </mgt_developertoolbar>
        </routers>
        <layout>
            <updates>
                <mgt_developertoolbar>
                    <file>mgt_developertoolbar.xml</file>
                </mgt_developertoolbar>
            </updates>
        </layout>
    </frontend>
</config>