<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="mgtcommerce" translate="label" sortOrder="100">
            <label><![CDATA[<span class='mgtcommerce-logo'>Mgt-Commerce.com</span>]]></label>
        </tab>
        <section id="mgt_developer_toolbar" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>mgt_developer_toolbar</class>
            <label>Developer Toolbar</label>
            <tab>mgtcommerce</tab>
            <resource>Magento_Catalog::config_devtool</resource>
            <group id="module" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Develper Toolbar</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_ip" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed IPs (comma separated)</label>
                </field>
            </group>
        </section>
    </system>
</config>