<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_Base>
            <version>1.0.3</version>
        </Mgt_Base>
    </modules>
    <global>
        <blocks>
            <mgt_base>
                <class>Mgt_Base_Block</class>
            </mgt_base>
            <mgt_base_adminhtml>
                <class>Mgt_Base_Block_Adminhtml</class>
            </mgt_base_adminhtml>
        </blocks>
        <models>
            <mgt_base>
                <class>Mgt_Base_Model</class>
            </mgt_base>
        </models>
        <helpers>
            <mgt_base>
                <class>Mgt_Base_Helper</class>
            </mgt_base>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <mgt_base_feed>
                      <type>singleton</type>
                      <class>mgt_base/feed</class>
                      <method>check</method>
                    </mgt_base_feed>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
        <resources>
            <mgt_base_setup>
                <setup>
                    <module>Mgt_Base</module>
                </setup>
            </mgt_base_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_Base before="Mage_Adminhtml">Mgt_Base_Adminhtml</Mgt_Base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <system>
            <mgt_base>
                <interests>NEW_RELEASE,MODULE_UPDATE,INFO</interests>
                <feed_url>http://www.mgt-commerce.com/feed</feed_url>
            </mgt_base>
        </system>
    </default>
</config>
