<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mgtdevelopertoolbar" frontName="mgtdevelopertoolbar">
            <module name="Mgt_DeveloperToolbar" />
        </route>
        <route id="mgtfeed" frontName="mgtfeed">
            <module name="Mgt_DeveloperToolbar" />
        </route>
    </router>
</config>