<?xml version="1.0"?>
<config>
    <modules>
        <Wee_Base>
            <version>1.0.2</version>
        </Wee_Base>
    </modules>
    <global>
        <blocks>
            <wee_base>
                <class>Wee_Base_Block</class>
            </wee_base>
            <wee_base_adminhtml>
                <class>Wee_Base_Block_Adminhtml</class>
            </wee_base_adminhtml>
        </blocks>
        <models>
            <wee_base>
                <class>Wee_Base_Model</class>
            </wee_base>
        </models>
        <helpers>
            <wee_base>
                <class>Wee_Base_Helper</class>
            </wee_base>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <wee_base_feed>
                    <type>singleton</type>
                    <class>wee_base/feed</class>
                    <method>check</method>
                </wee_base_feed>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
        <resources>
            <wee_base_setup>
                <setup>
                    <module>Wee_Base</module>
                </setup>
            </wee_base_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wee_Base before="Mage_Adminhtml">Wee_Base_Adminhtml</Wee_Base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <system>
            <wee_base>
                <interests>NEW_RELEASE,MODULE_UPDATE,INFO</interests>
                <feed_url>http://www.mgt-commerce.com/feed</feed_url>
            </wee_base>
        </system>
    </default>
</config>
