<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Model\ResourceModel\Type\Db\Pdo\Mysql">
        <plugin name="mgt_developertoolbar_plugin_magento_framework_model_resourcemodel_type_db_pdo_mysql" type="Mgt\DeveloperToolbar\Plugin\Magento\Framework\Model\ResourceModel\Type\Db\Pdo\Mysql" sortOrder="1"/>
    </type>
</config>