<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_front_send_response_before">
        <observer name="mgt_developer_toolbar_data_collector" instance="Mgt\DeveloperToolbar\Model\Observer\DataCollector" />
    </event>
</config>